h1 {
    color: #fff;
    margin: 0 !important;
    padding: 0;
    color: white !important;
}

.section {
    text-align: center;
}

.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

#section_index {
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s1.jpg");
}

#section_index h1 {
    padding-top: 30vh;
    font-size: 56px;
    font-weight: 320;
    text-shadow: h-shadow v-shadow blur color;
}

#section_introduce {
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s2.jpg");
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

h1 {
    padding-top: 5vh;
    font-size: 56px;
    font-weight: 320;
    text-shadow: h-shadow v-shadow blur color;
}

h2 {
    font-weight: 400;
    color: white;
}

#section3 h1 {
    color: #000;
}
.video_div {
    padding-left: 20vw;
    padding-right: 20vw;

}

#section_video_slide1 {
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s3.jpg");
    padding: 6% 0 0 0;
}

#section_video_slide2 {
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s4.jpg");
    padding: 6% 0 0 0;
}

#section_article{
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s5.png");
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

#section_good_text{
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s6.jpg");
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
}
#section_about{
    background-image: url("https://cdn.jsdelivr.net/gh/AyagawaSeirin/ThreebodySpace@1.1/img/s7.jpg");
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
#section_about h1{
    text-align: center;
}
#infoMenu li a {
    color: #fff;
}

.blue h1 {
    text-decoration: none !important;
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    transition: all 0.5s !important;

    -webkit-animation: neon2 1.5s ease-in-out infinite alternate !important;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate !important;
    animation: neon2 1.5s ease-in-out infinite alternate !important;

}
.music{
    position: fixed;
    right:10px;
    bottom:10px;
    z-index: 1;

    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}

.music:hover{
    filter:alpha(Opacity=90);
    -moz-opacity:0.9;
    opacity: 0.9;
}
.about{
    line-height: 1.5;
}